@import '~antd/dist/antd.css';
 .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
h1,h2,h3,h4,h5{
  font-family: 'Proza Libre', sans-serif;
}
 .trigger:hover {
  color: #1890ff;
}
#root{
  background-color: #f3f3f3;
}
 .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.login-form {
  max-width: 700px;
}
 .login-form-forgot {
  float: right;
}
 .login-form-button {
  width: 100%;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 400px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.d-flex{
  display:flex;
  justify-content: space-between;
}
.container{
  max-width: 1300px;
  margin: auto;
  background-color: #fff;
}
.s-data{
  flex-grow: 2;
    text-align: left;
    margin-left: 50px;
}
.single-price{
  background-color: #FFF2E8;
    padding: 15px 5px;
    margin: 0;
}
.itemsCount{
  box-sizing: border-box;
  display: inline-block;
  background-color: #2c3e50;
  color: #ffffff;
  border-radius: 3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: .05rem .8rem .1rem;
  line-height: inherit;
}


.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

 #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

 #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

 #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-next:before, .slick-prev:before {
  font-size: 30px !important;
  line-height: 1;
  opacity: .75;
  color: #F44336 !important;
}
.slick-slide{
  border: 1px solid #ececec;
  box-sizing: border-box;
}
.react-tabs__tab-list{
  border-bottom: none !important;
}
.react-tabs__tab{
  border:none !important;
  outline: none !important;
}
.react-tabs__tab:focus{
  box-shadow: none !important;
}







/* .container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
} */

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  
}
input[type=text]:focus{
  border-color: rgb(68, 130, 255);
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkoutBtn {
  background-color: rgb(68, 130, 255);
  color: white;
  border-color: rgb(68, 130, 255);;
  padding: 12px;
  margin: 10px 0;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}
.action-links{
  display: flex;
  justify-content: space-around;
}
#logoContainer{
  width: 100px;
}
#logoContainer img{
  width: 100%;
}


.flex{display: flex;}


.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background: #00a0e9;
  padding: 10px 0;
  border-radius: 2px;
  color: #eee;
}



.login-form {
  max-width: 300px;
}
 .login-form-forgot {
  float: right;
}
 .login-form-button {
  width: 100%;
}

.product-card{
  width: calc(250px - 10px);
  margin: 10px;

}
















/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}